@import viewmodels.InputWidth._
@import controllers.euDetails.routes

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, index: Index, country: Country)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("euSendGoodsTradingName.title", country.name))) {

    @formHelper(action = routes.EuSendGoodsTradingNameController.onSubmit(mode, index)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("euSendGoodsTradingName.heading", country.name)).asPageHeading()
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
