@import viewmodels.InputWidth._
@import components.ButtonGroup

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode, index: Index, country: Country)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("fixedEstablishmentAddress.title", country.name))) {

    @formHelper(action = controllers.euDetails.routes.FixedEstablishmentAddressController.onSubmit(mode, index), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("fixedEstablishmentAddress.heading", country.name)</h1>

        @govukInput(
            InputViewModel(
                field = form("line1"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.line1"))
            )
            .withWidth(Full)
            .withAutocomplete("address-line1")
        )

        @govukInput(
            InputViewModel(
                field = form("line2"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.line2"))
            )
            .withWidth(Full)
            .withAutocomplete("address-line2")
        )

        @govukInput(
            InputViewModel(
                field = form("townOrCity"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.townOrCity"))
            )
            .withWidth(TwoThirds)
            .withAutocomplete("address-level2")
        )

        @govukInput(
            InputViewModel(
                field = form("stateOrRegion"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.stateOrRegion"))
            )
            .withWidth(TwoThirds)
            .withAutocomplete("address-level1")
        )

        @govukInput(
            InputViewModel(
                field = form("postCode"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.postCode"))
            )
            .withWidth(Fixed10)
            .withAutocomplete("postal-code")
        )

        @button("site.continue",  controllers.euDetails.routes.FixedEstablishmentAddressController.onPageLoad(mode, index).url)
    }
}
