@import components.ButtonGroup

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("taxRegisteredInEu.title"))) {

    @formHelper(action = controllers.euDetails.routes.TaxRegisteredInEuController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("taxRegisteredInEu.heading")).asPageHeading()
            )
        )

        @button("site.continue",  controllers.euDetails.routes.TaxRegisteredInEuController.onPageLoad(mode).url)
    }
}
