@import viewmodels.InputWidth._
@import components.ButtonGroup

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode, countryIndex: Index, schemeIndex: Index, countryWithValidationDetails: CountryWithValidationDetails, previousSchemeHintText: PreviousSchemeHintText)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("previousOssNumber.title", countryWithValidationDetails.country.name))) {

    @formHelper(action = controllers.previousRegistrations.routes.PreviousOssNumberController.onSubmit(mode, countryIndex, schemeIndex)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("previousOssNumber.heading", countryWithValidationDetails.country.name)).asPageHeading()
            )
            .withWidth(Full)
            .withHint(HintViewModel(
                previousSchemeHintText match {
                    case PreviousSchemeHintText.OssUnion =>
                        messages("previousOssNumber.hint.union",  countryWithValidationDetails.country.code, countryWithValidationDetails.exampleVrn)
                    case PreviousSchemeHintText.OssNonUnion =>
                        messages("previousOssNumber.hint.nonunion", countryWithValidationDetails.exampleVrn)
                    case PreviousSchemeHintText.Both =>
                        messages("previousOssNumber.hint.default",  countryWithValidationDetails.country.code, countryWithValidationDetails.exampleVrn)
                }
            ))

        )

        @button("site.continue",  controllers.previousRegistrations.routes.PreviousOssNumberController.onPageLoad(mode, countryIndex, schemeIndex).url)
    }
}
