@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, countryIndex: Index, schemeIndex: Index, country: Country, hasIntermediary: Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle =
    if(hasIntermediary) {
        title(form, messages("previousIossNumber.titleWithIntermediary", country.name))
    } else {
        title(form, messages("previousIossNumber.title", country.name))
    }
) {

    @formHelper(action = controllers.previousRegistrations.routes.PreviousIossNumberController.onSubmit(mode, countryIndex, schemeIndex)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @if(hasIntermediary) {
            <h1 class="govuk-heading-xl">@messages("previousIossNumber.headingWithIntermediary", country.name)</h1>

            <input type="hidden" name="previousScheme" id="previousScheme" value="@PreviousScheme.IOSSWI"/>
        } else {
            <input type="hidden" name="previousScheme" id="previousScheme" value="@PreviousScheme.IOSSWOI"/>
        }

        @govukInput(
            InputViewModel(
                field = form("previousSchemeNumber"),
                label =
                    if(hasIntermediary) {
                        LabelViewModel(messages("previousIossNumber.iossNumber", country.name)).withCssClass("govuk-label--m")
                    } else {
                        LabelViewModel(messages("previousIossNumber.heading", country.name)).asPageHeading()
                    }
            )
            .withWidth(Full)
            .withHint(HintViewModel(messages("previousIossNumber.iossNumber.hint")))

        )

        @if(hasIntermediary) {

            @govukInput(
                InputViewModel(
                    field = form("intermediaryNumber"),
                    label = LabelViewModel(messages("previousIossNumber.intermediaryNumber", country.name)).withCssClass("govuk-label--m")
                )
                .withWidth(Full)
                .withHint(HintViewModel(messages("previousIossNumber.intermediaryNumber.hint")))
            )
        }

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
