@this(
        layout: templates.Layout,
        govukButton: GovukButton
)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("schemeQuarantined.title"))) {

    <h1 class="govuk-heading-xl">@messages("schemeQuarantined.heading")</h1>

    <p class="govuk-body">@Html(messages("schemeQuarantined.paragraph"))</p>

    <p class="govuk-body">@Html(messages("schemeQuarantined.contactUs"))</p>

    <p class="govuk-body">@Html(messages("schemeQuarantined.returnToRegistration"))</p>
}
