@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("bankDetails.title"))) {

    @formHelper(action = routes.BankDetailsController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("bankDetails.heading")</h1>

        @govukInput(
            InputViewModel(
                field = form("accountName"),
                label = LabelViewModel(messages("bankDetails.accountName"))
            )
            .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("bic"),
                label = LabelViewModel(messages("bankDetails.bic"))
            )
            .asNumeric()
            .withWidth(Fixed10)
        )


        @govukInput(
            InputViewModel(
                field = form("iban"),
                label = LabelViewModel(messages("bankDetails.iban"))
            )
            .withWidth(Fixed30)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
