@import uk.gov.hmrc.domain.Vrn
@import viewmodels.LegendSize

@this(
        layout: templates.Layout,
        formHelper: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukRadios: GovukRadios,
        govukButton: GovukButton
)

@(form: Form[_], vrn: Vrn)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("checkVatNumber.title"))) {

    @formHelper(action = routes.CheckVatNumberController.onSubmit(), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("checkVatNumber.heading")</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">@messages("checkVatDetails.vrn")</dt>
                <dt class="govuk-summary-list__value govuk-!-width-one-half">@vrn.vrn</dt>
            </div>
        </dl>

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("checkVatNumber.question")).withSize(LegendSize.Medium)
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
