@import viewmodels.CheckVatDetailsViewModel
@import viewmodels.LegendSize

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], viewModel: CheckVatDetailsViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("checkVatDetails.title"))) {

    @formHelper(action = routes.CheckVatDetailsController.onSubmit(), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(
                form = form,
                errorLinkOverrides = Map("value" -> "value_0")
            ))
        }

        <h1 class="govuk-heading-xl">@messages("checkVatDetails.heading")</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">@messages("checkVatDetails.organisationName")</dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">@viewModel.organisationName</dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">@messages("checkVatDetails.vrn")</dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">@viewModel.vrn</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">@messages("checkVatDetails.address")</dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">@viewModel.formattedAddress</dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">@messages("checkVatDetails.partOfVatGroup")</dt>
                <dd class="govuk-summary-list__value govuk-!-width-one-half">@viewModel.partOfVatGroup</dd>
            </div>

        </dl>

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("checkVatDetails.question")).withSize(LegendSize.Medium),
                items  = CheckVatDetails.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
