@import viewmodels.CheckVatDetailsViewModel

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, viewModel: CheckVatDetailsViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("checkVatDetails.title"))) {

    @formHelper(action = routes.CheckVatDetailsController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("checkVatDetails.heading")</h1>

        <p class="govuk-body">@viewModel.vrn.value</p>

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("checkVatDetails.question")),
                items  = CheckVatDetails.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
