@this(
        layout: templates.Layout,
        formHelper: FormWithCSRF,
        govukButton: GovukButton
)

@(mode: Mode, formattedDate: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("commencementDate.title"))) {

    <h1 class="govuk-heading-xl">@messages("commencementDate.heading")</h1>

    <p class="govuk-body">@messages("commencementDate.p1", formattedDate)</p>

    @formHelper(action = routes.CommencementDateController.onSubmit(mode), 'autoComplete -> "off") {

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
