@this(
        layout: templates.Layout,
        formHelper: FormWithCSRF,
        govukButton: GovukButton
)

@(mode: Mode, formattedDate: String, isDateInCurrentQuarter: Boolean, startOfCurrentQuarter: Option[String],
endOfCurrentQuarter: Option[String], startOfNextQuarter: Option[String])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("commencementDate.title"))) {

    <h1 class="govuk-heading-xl">@messages("commencementDate.heading")</h1>

    @if(isDateInCurrentQuarter) {
        <p class="govuk-body">@messages("commencementDate.p1", formattedDate)</p>
    } else {
        <p class="govuk-body">@messages("commencementDate.youRegisteredAfterThe10th")</p>

        <h2 class="govuk-heading-m">@messages("commencementDate.CurrentQuarter.heading", startOfCurrentQuarter.getOrElse(""), endOfCurrentQuarter.getOrElse(""))</h2>
        <p class="govuk-body">@messages("commencementDate.CurrentQuarter")</p>

        <h2 class="govuk-heading-m">@messages("commencementDate.nextQuarter.heading", startOfNextQuarter.getOrElse(""))</h2>
        <p class="govuk-body">@messages("commencementDate.NextQuarter", startOfNextQuarter.getOrElse(""))</p>
    }

    @formHelper(action = routes.CommencementDateController.onSubmit(mode), 'autoComplete -> "off") {

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
