@import viewmodels.CurrentCountryOfRegistrationViewModel

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, viewModel: CurrentCountryOfRegistrationViewModel)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("currentCountryOfRegistration.title"))) {

    @formHelper(action = routes.CurrentCountryOfRegistrationController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("currentCountryOfRegistration.heading")).asPageHeading(),
                items  = viewModel.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
