@import components.ButtonGroup

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukDateInput: GovukDateInput,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode, dateFormatted: String, dateHintFormatted: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("dateOfFirstSale.title", dateFormatted))) {

    @formHelper(action = routes.DateOfFirstSaleController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value.day")))
        }

        @govukDateInput(
            DateViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("dateOfFirstSale.heading", dateFormatted)).asPageHeading()
            )
            .withHint(HintViewModel(messages("dateOfFirstSale.hint", dateHintFormatted)))
        )

        @button("site.continue", routes.DateOfFirstSaleController.onPageLoad(mode).url)
    }
}
