
@this(
layout: templates.Layout,
govukButton: GovukButton,
govukPanel: GovukPanel
)

@(externalUrl: Option[String] = None)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("errorSubmittingRegistration.title")), showBackLink = false) {

@govukPanel(Panel(
title = Text(messages("errorSubmittingRegistration.title")),
content = HtmlContent(messages("errorSubmittingRegistration.heading")),
classes = "red-background"
))

<p class="govuk-body">@Html(messages("errorSubmittingRegistration.savedAnswers", controllers.routes.CheckYourAnswersController.onPageLoad().url))</p>

<p class="govuk-body">@Html(messages("errorSubmittingRegistration.contactUs"))</p>


@externalUrl.map { url =>
    @govukButton(
        ButtonViewModel(messages("errorSubmittingRegistration.your.account"))
            .asLink(url)
            .withAttribute(("id", "backToYourAccount"))
    )
}

}