@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, index: Index, country: Country)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("fixedEstablishmentAddress.title", country.name))) {

    @formHelper(action = routes.FixedEstablishmentAddressController.onSubmit(mode, index), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("fixedEstablishmentAddress.heading", country.name)</h1>

        @govukInput(
            InputViewModel(
                field = form("field1"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.field1"))
            )
            .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("field2"),
                label = LabelViewModel(messages("fixedEstablishmentAddress.field2"))
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
