@import components.ButtonGroup

@this(
    layout: templates.UnauthenticatedLayout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode, hintTextFlag: Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("hasMadeSales.title"))) {

    @formHelper(action = routes.HasMadeSalesController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }


        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(messages("hasMadeSales.heading")).asPageHeading(),
            ).withHint(HintViewModel(HtmlContent(Html(
                    if(hintTextFlag) {messages("hasMadeSales.caption") + messages("hasMadeSales.caption.youCanStillRegister") + messages("hasMadeSales.caption.excludeSales")}
                    else {messages("hasMadeSales.caption") + messages("hasMadeSales.caption.youCanStillRegister")}
                ))))
        )


        @button("site.continue",  routes.HasMadeSalesController.onPageLoad(mode).url)
    }
}
