@this(
        layout: templates.UnauthenticatedLayout,
        formHelper: FormWithCSRF,
        govukButton: GovukButton
)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("liableForVatOnAllSales.title"))) {

    <h1 class="govuk-heading-xl">@messages("liableForVatOnAllSales.heading")</h1>

    <p class="govuk-body">@messages("liableForVatOnAllSales.p1")</p>

    <p class="govuk-body">@messages("liableForVatOnAllSales.p2")</p>

    @formHelper(action = routes.LiableForVatOnAllSalesController.onSubmit(), 'autoComplete -> "off") {

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
