@this(
        layout: templates.UnauthenticatedLayout,
        govukButton: GovukButton
)

@(externalUrl: Option[String] = None)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("notLiableForVat.title"))) {

    <h1 class="govuk-heading-xl">@messages("notLiableForVat.heading")</h1>

    <p class="govuk-body">@messages("notLiableForVat.p1")</p>

    <p class="govuk-body">@messages("notLiableForVat.p2")</p>

@externalUrl.map(
url => Html(
s"""<p class="govuk-body"><a href=$url id="back-to-your-account" class="govuk-link">""" + messages("site.back.BTA") + "</a></p>"
))
}
