@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    govukDateInput: GovukDateInput
)

@(form: Form[_], mode: Mode, nextPeriodStartDate: String, earlierDateGuidanceKey: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("startDate.title"))) {

    @formHelper(action = routes.StartDateController.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        <h1 class="govuk-heading-xl">@messages("startDate.heading")</h1>

        <p class="govuk-body">@messages("startDate.guidance")</p>

        @govukRadios(
            RadiosViewModel(
                field  = form("choice"),
                legend = LegendViewModel(messages("startDate.heading")).withCssClass("govuk-visually-hidden"),
                items  = Seq(
                    RadioItem(
                        content = Text(messages(s"startDate.nextPeriod", nextPeriodStartDate)),
                        value   = Some(StartDateOption.NextPeriod.toString),
                        id      = Some(s"value_0")
                    ),
                    RadioItem(
                        content = Text(messages(s"startDate.earlierDate")),
                        value   = Some(StartDateOption.EarlierDate.toString),
                        id      = Some(s"value_1"),
                        conditionalHtml = Some(Html(
                            """<p class="govuk-body">""" + messages(earlierDateGuidanceKey) + "</p>" +
                            govukDateInput(
                                DateViewModel(
                                    field  = form("earlierDate"),
                                    legend = LegendViewModel(messages("startDate.earlierDate.label")).withCssClass("govuk-visually-hidden")
                                )
                                .withHint(HintViewModel(messages("startDate.earlierDate.hint")))
                            ).toString
                        ))
                    )
                )
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
