@import uk.gov.hmrc.domain.Vrn

@this(
        layout: templates.Layout,
        govukButton: GovukButton
)

@(vrn: Vrn)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("useOtherAccount.title"))) {

    <h1 class="govuk-heading-xl">@messages("useOtherAccount.heading")</h1>

    <p class="govuk-body">@messages("useOtherAccount.p1", vrn.vrn)</p>

    <p class="govuk-body">
        @messages("useOtherAccount.p2.1")
        <a href="@controllers.auth.routes.AuthController.redirectToLogin(routes.IndexController.onPageLoad().url).url" class="govuk-link">
        @messages("useOtherAccount.p2.link.text")
        </a>
        @messages("useOtherAccount.p2.2")
    </p>
}
