@import viewmodels.InputWidth._
@import components.ButtonGroup

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    button: ButtonGroup
)

@(form: Form[_], mode: Mode, index: Index)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("website.title"))) {

    @formHelper(action = routes.WebsiteController.onSubmit(mode, index)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("website.heading")).asPageHeading()
            )
            .withWidth(Full)
        )

    @button("site.continue",  routes.WebsiteController.onPageLoad(mode, index).url)

    }
}
